body {
    padding: 0 0 0 0;
}

#header {
    width: 100%;
    height: 80px;
    border: 1px solid red
}

#headerElementTopContainer {
    margin-top: 18px;
}

#logo {
    position: absolute;
    margin-left: 10%;
}

#navigationElements{
    margin-left: 30%;
}

#navigationElements > #navigationLinks > li{
    font-size: 13px;
}



#asdf {
    width: 1560px;
    height: 720px;
    background: linear-gradient(132deg, #f42e78, #c17afc);
    font-family: 'Quicksand', sans-serif;
    position:absolute;
}
#asdf2 {
    width: 1740px;
    height: 500px;
    background-color: rgba(126,67,170,0.3);
    position: absolute;
    
}