body {
    font-family: 'Quicksand';
}

#navbar {
    background-color: white;
    border: 0px;
    margin-top: 15px;
}

#logo {
    margin-left: 10%;
    margin-top: -8px;
}

#navigationLinks {
    margin-left: 28%;
    margin-top: -8px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

    #navigationLinks > #navigationLeftLinks > li a {
        font-weight: 500;
        color: #7a4eb5;
    }

#first {
    margin-top: 10px;
    padding: 7px 15px 5px 15px;
    height: 35px;
    background-color: #3ecf8e;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    vertical-align: bottom;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #c7c7c7;
    text-shadow: 1px 1.5px #6d6d6d;
    color: white;
    font-size: 13px;
    font-weight: 800;
    margin-right: 30px;
}


#second {
    margin-top: 10px;
    margin-right: -20px;
    padding: 5px 0px 5px 23px;
    height: 35px;
    border: 2px solid #03de5c;
    color: black;
    background-color: transparent;
    box-shadow: 1px 2px 2px #c7c7c7;
    margin-left: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
    width: 80px;
}

.content {
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 24px;
    text-align: left;
    position: relative;
    color: #fff;
    text-align: center;
    background: linear-gradient(132deg,#c17afc,#f42e78);
    overflow: hidden;
}

#hell {
    left: -5%;
    width: 110%;
    height: 90%;
    top: 10%;
    transform: rotate(-6deg) skew(-6deg);
    background-color: rgba(126,67,170,0.3);
    position: absolute;
}

#container {
    text-align: center;
